<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />

</head>
<div>
    
<div class="top">
    <h1>Tareque Robinson</h1>
<img src="{{ url_for('static', filename='img.jpg') }}" />

</div>
<div class="container">


<p>Tareque Robinson is a <span>visionary</span> who seeks to bring to life his many conceptualizations and ideas. 
    Ideas are vast and endless but not until one acts upon an idea will it be anything of significance. 
    This is a very important thing to bear in mind as it allows one 
    to undertand the importance of taking action towards fulfilling goals instead of being stuck in a so-called 'planning phase'.
    One has to develop and deploy a way of thinking which gives room for error, a way of thinking that appreciates that failure 
    is merely a path towards eventual and inevitable success.
</p>

</div>

</body>
</html>